#header
{
    height:170px;
    background-color:seagreen;
    background-image: url("images/bialko_nagl.jpg");
    text-align:center;
}

#footer
{
    height:100px;
    background:grey;
}

#footer p
{
    text-align:center;
    line-height:10px;
    padding-top: 30px;
}