html
{
    background-color:#009966;
}
H1 {font-size: 17pt; color: #009966; font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif; text-decoration: none; text-align: justify; margin-bottom: 2px; font-weight: bold;}
H2 {font-size: 13pt; color: #33CC99; font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif; text-decoration: underline; text-align: justify; margin-bottom: 2px; font-weight: normal;}
H5 {font-size: 8pt; color: gray; font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif; text-decoration: none; text-align: justify; margin-bottom: 2px; font-weight: normal;}

#header
{
    height:170px;
    background-color:grey;
    background-image: url("images/miesnie.jpeg");
    text-align:center;
}

#footer
{
    height:100px;
    background:grey;
}

#footer p
{
    text-align:center;
    line-height:10px;
    padding-top: 30px;
}